<!doctype html>
<html lang="en">
    <head>
        <title>Create an account</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <nav
            class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">AutoTrain</a>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Documentation</a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </nav>
        </header>
        <main></main>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100 mt-5">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                  <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                      <h2 class="text-uppercase text-center mb-5">Create an account</h2>
        
                      <form>
        
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example1cg" name='name' placeholder='First Last'>Your Name</label>
                          <input type="text" id="form3Example1cg" class="form-control" />
                        </div>
        
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example3cg" name='email' placeholder='example@xyz.com'>Your Email</label>
                          <input type="email" id="form3Example3cg" class="form-control" />
                        </div>
        
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4cg" name='password'>Password</label>
                          <input type="password" id="form3Example4cg" class="form-control" aria-describedby="passwordHelpInline"/>
                          <div id="passwordHelpBlock" class="form-text">
                            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                          </div>
                        </div>
        
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4cdg" name='rep_password'>Repeat your password</label>
                          <input type="password" id="form3Example4cdg" class="form-control" />
                        </div>
                        <div class="d-flex justify-content-center">
                          <button type="button"
                            class="btn btn-primary btn-lg">Register</button>
                        </div>
        
                        <p class="text-center text-muted mt-5 mb-0">Already Registered? <a href="#!"
                            class="fw-bold text-body"><u>Login here</u></a></p>
        
                      </form>
        
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>






